/*--Global Style--*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {

    display: block;
}

h1,
h2,
h3 
{
    font-family: 'Montserrat';
    font-style: normal;
    color: #2F281E;
}

h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #544837;
}

button {
    border: none;
    background: transparent;
    display: block;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*--Global Style End--*/


/*--Header--*/

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.header__logotype {
    display: flex;
}

.header__image-logo {
    padding-right: 12px;
}

ul {
    list-style: none;
}

.header__list {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2F281E;

}

.header__list>li {
    padding-right: 20px;
}

.header__button {
    display: flex;
}

.header__btn1 {
    padding: 13px 22.5px;
    background-color: #FFFFFF;
    color: #2F281E;
    border: 1 solid black;
    border-radius: 4px;
}

.header__btn2 {
    margin-left: 20px;
    padding: 13px 22.5px;
}

/*--Header End--*/

/*--Screen1--*/
.screen1__container {
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 99px;
}

.screen1__text-block {
    padding-right: 56px;
}

.screen1__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
    margin-bottom: 30px;
}

.screen1__text {
    
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}

.screen1__button {
    margin-top: 20px;
    padding: 13px 43.5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

/*--Screen1 End--*/

.features__container {
    background: url("../img/bg.png") 50%/ cover no-repeat;
    padding-bottom: 74px;
}

.features__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    padding-bottom: 50px;
    max-width: 539px;
    margin: 0 auto;
    margin-bottom: 37px;
 }

.features__cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.features__block {
    padding-right: 45px;
}

.features__block>h3 {
    padding: 30px 0px 16px 0px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}
.features__block>p {
line-height: 26px;
color: #544837;
}

.features__cards .features__block:last-child {
    padding-right: 120px;
}

.features__cards .features__block:first-child {
    padding-left: 112px;
}

.features__box-image {
    width: 50px;
}

.features__btn {
    padding: 13px 39.5px;
    margin: 0 auto;
}